# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
backend/node_modules/
backend/jspm_packages/

# TypeScript cache
backend/*.tsbuildinfo

# Optional npm cache directory
backend/.npm

# Optional eslint cache
backend/.eslintcache

# dotenv environment variable files
backend/.env
backend/.env.*
backend/!.env.example

backend/dist

# Gatsby files
backend/.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# Stores VSCode versions used for testing VSCode extensions
backend/.vscode-test
